<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS Tags</title>
</head>

<body>
  <h1>
    <%= title %>
    <!-- Tite goes here -->
  </h1>
  <p>Current second:
    <%= seconds %>
    <!-- Current second goes here -->
  </p>
  <% if (seconds % 2===0) { %>
  <ul>
    <%items.forEach((fruit)=> { %>
      <li>
        <%=fruit %>
      </li>
    <%}) %>
    <!-- List goes here if current second is even. -->
    <!-- Otherwise it should display the following: -->
    <!-- <p>No items to display</p> -->
  </ul>
  <% } else { %>
  <p>No items to display</p>
  <%}%>
  <p>
    <%- htmlContent %>
    <!-- HTML content goes here -->
  </p>

  <%- include('footer') %>
  <!-- Footer goes here -->
</body>

</html>